<!doctype html>
<html lang="en">
<head>
    <title>Register</title>
</head>
<body>
	<center>
    <h2>Register</h2>
	<table border=0>
    <form method="post">
	<tr>
		<td>Username: </td><td><input type="text" name="username" required></td>
	</tr>
	<tr>
		<td>Password: </td><td><input type="password" name="password" required></td>
	</tr>
	</table></br>
        <input type="submit" value="Register">
    </form>
	</br>
    <p><a href="{{ url_for('login') }}">Back to Login</a></p>
	</center>
</body>
</html>
